{%- extends "base.html" -%}

{%- set title = "Workbench GUI" -%}
{%- block title -%}{{ title }}{%- endblock -%}

{%- block styles -%}
	{{ super() }}
	<link href="/static/libs/css-toggle-switch/4.0.2/dist/toggle-switch.css" rel="stylesheet">
{%- endblock -%}

{%- block content -%}
	<div class="container-fluid">
		<h1>{{ title }}</h1>
		{{ show_bootstrap_flashes() | safe }}

		<div class="row">
			<div class="buttons col-xs-12 col-sm-8">
				<div class="menu">
					<h3>Menu</h3>
					<a href="/tag_computer" class="btn btn-default">
			      <div class="icon"><i class="fa fa-tags fa-2x"></i></div>
			    	<div class="text">Tag computer</div>
			    </a>
			    <a href="/edit_config" class="btn btn-default">
			    	<div class="icon"><i class="fa fa-gears fa-2x"></i></div>
			    	<div class="text">Edit configuration</div>
			    </a>
			  </div>

			  <div class="plugged_usbs">
			    <h3>Plugged usbs</h3>
			    {%- for key, usb in usbs.items() -%}
			    	<div id="{{ key }}" class="media usb">
			    		<div class="media-left media-middle">
			    			<i class="fa fa-usb fa-2x"></i>
			    		</div>
			    		<div class="media-body">
			    			<h4 class="media-heading">{{ usb["vendor"] }} {{ usb["product"] }}</h4>
			    			<div>{{ usb["serial"] }}</div>
			    			<div>{{ key }}</div>
			    		</div>
			    	</div>
			    {%- endfor -%}
			   </div>
	    </div>

	    <div class="simulator col-xs-12 col-sm-4">
	    	<h3>Simulator</h3>
    		{%- for key, value in simulator.inventories.items() -%}
    			<div id="{{ key }}" class="media inventory">
    				<div class="media-left media-middle text-center">
    					<a href="#" class="launch"><i class="fa fa-rocket fa-2x"></i></a>
    					<a href="#" class="timed"><i class="fa fa-hourglass-half"></i></a>
    				</div>
    				<div class="media-body">
    					<h4 class="media-heading">{{ value[0]["device"]["manufacturer"] }} {{ value[0]["device"]["model"] }}</h4>
    					<div>{{ key }}</div>
    					<ul class="list-unstyled usbs">
		    				{%- for serial, usb in simulator.usbs.items() -%}
		    					<li class="usb" data-serial="{{ serial }}">
		    						{{ usb["vendor"] }} {{ usb["product"] }} 
		    						<a href="#" class="plug"><i class="fa fa-toggle-{{ ['off', 'on'][(key in usbs and usbs[key]['usb'] == serial) | int] }}"></i></a>
		    					</li>
		    				{%- endfor -%}
	    				</ul>
    				</div>
    			</div>
    		{%- endfor -%}
	    </div>
	  </div>

	  <div class="row">
	  	<div class="inventories col-xs-12 col-sm8">
	  		<table class="table">
	  			<tr>
	  				<th>key</th>
	  				<th>json</th>
	  			</tr>
	  			{%- for key, inventory in inventories.items() -%}
	  				<tr>
	  					<td>{{ key }}</td>
	  					<td>{{ inventory }}</td>
	  				</tr>
	  			{%- endfor -%}	
	  		</table>
	  	</div>
	  </div>
	</div>
{%- endblock -%}

{%- block scripts -%}
	{{ super() }}
	<script src="/static/js/simulator.js"></script>
	<script src="/static/js/usbs.js"></script>
{%- endblock -%}