{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
      <title>{% block title %}{{ title | default }}{% endblock title %}</title>

      {%- block metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock metas %}

      {%- block styles %}
        <link href="/static/libs/bootstrap/3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
      {% block navbar %}
      {%- endblock navbar %}
      {% block content -%}
    {%- endblock content %}

    {% block scripts %}
      <script src="/static/libs/jquery/jquery-3.2.1.min.js"></script>
      <script src="/static/libs/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
      <script src="/static/js/alerts.js"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
